@model MovieDetails.Models.Actor


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Actor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorSex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorSex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorBio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorBio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActorDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActorDOB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movies)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Movie Title</th>
                    <th>Producer</th>
                </tr>
                @foreach (var item in Model.Movies)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MovieName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producers.ProducerName)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActorID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
