@model IEnumerable<MovieDetails.Models.Producer>

@{
    ViewBag.Title = "Index";
}

<h2>Producers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProducerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProducerDob)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProducerDob)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProducerID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProducerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProducerID })
            </td>
        </tr>
    }

</table>
