@model IEnumerable<MovieDetails.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>

        <th>
            @Html.ActionLink("Movie Name", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoviePlot)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MovieRelease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actors.ActorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producers.ProducerName)
        </th>
        <th>                    </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.MovieName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoviePlot)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovieRelease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actors.ActorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producers.ProducerName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MovieID }) |
                @Html.ActionLink("Details", "Details", new { id = item.MovieID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MovieID })
            </td>
        </tr>
    }

</table>
